<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cse.geobook"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Start [pulled from] developer.google.com -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- End developer.google.com -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/earth"
        android:label="@string/app_name"
        android:logo="@drawable/earth"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cse.geobook.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cse.geobook.Map"
            android:label="@string/title_activity_map" >
            <intent-filter>
                <action android:name="android.intent.action.MAP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cse.geobook.Photo"
            android:label="@string/title_activity_photo"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.PHOTO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cse.geobook.Cache"
            android:label="@string/title_activity_cache"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.CACHE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cse.geobook.Settings"
            android:label="@string/menu_map_settings"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cse.geobook.CacheList"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.CACHE_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cse.geobook.Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.cse.geobook.Profile"
            android:label="@string/title_activity_profile" >
        </activity>

        <!-- required by maps -->
        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBSynp55necy7jJdmJ4w3dYOI2nfVPE2k8" />

        <activity
            android:name="com.cse.geobook.CacheList_Activity"
            android:label="@string/title_activity_listView" >
        </activity>
    </application>

</manifest>
